<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Hello World</title>
    <style type="text/css">
        .ng-cloak {
            display: none !important;
        }

        .topTweets iframe {
            margin: 1em auto !important;
        }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body ng-app="angularExample">

<div ng-controller="TwitterSearchController" class="container">
    <h1>Twitter search</h1>

    <form role="form" ng-submit="update()">
        <div class="form-group">
            <input type="text" class="form-control" id="topic-input" ng-model="topic"
                   placeholder="Enter your topic & hit enter">
        </div>

    </form>

    <div ng-repeat="tweet in tweets" class="topTweets" ng-bind-html="tweet">
        {{ tweet }}
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-resource.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) {
        t._e.push(f)
    } });
}(document, "script", "twitter-wjs"));</script>

<script type="text/javascript">
    "use strict";

    var app = angular.module('angularExample', ['ngResource']);

    app.factory('twitterService', ['$http', function ($http) {

        function embed(id, callback) {
            return $http.get('/embedData', {
                params: {
                    id: id
                }
            }).success(callback);
        }


        function search(q, count, callback) {
            return $http.get('/tweets', {
                params: {
                    q: q,
                    count: count
                }
            }).success(callback);
        }

        return {
            search: search,
            embed: embed
        };
    }]);


    app.controller('TwitterSearchController', ['twitterService', '$scope', '$sce', '$timeout',
        function (twitterService, $scope, $sce, $timeout) {
            $scope.topic = "";
            $scope.tweets = [];

            $scope.update = function () {
                $scope.tweets = [];

                function embedCallback(data) {
                    $scope.tweets = $scope.tweets.concat($sce.trustAsHtml(data['html']));
                    $timeout(function () { twttr.widgets.load(); }, 500);
                }

                function searchCallback(data) {
//                console.log(data);
                    data['tweets'].forEach(function (tweet) {
                        twitterService.embed(tweet['id_str'], embedCallback)
                    })
                }

                twitterService.search($scope.topic, 5, searchCallback)
            };
        }]);

</script>
</body>
</html>
